In [1]:
import pandas as pd
import numpy as np

# Reading CSV file

In [2]:
df = pd.read_csv('example')

In [3]:
df.head()

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [4]:
df.to_csv('My_copy')

In [5]:
csv_df = pd.read_csv('My_copy')

In [6]:
csv_df

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [7]:
df.to_csv('My_copy', index=False)

In [8]:
csv_df = pd.read_csv('My_copy')

In [9]:
csv_df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

# Reading Excel File

In [ ]:
! conda install lxml

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/dmoussa/opt/anaconda3

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.9.0                |           py37_0         2.9 MB
    ------------------------------------------------------------
                                           Total:         2.9 MB

The following packages will be UPDATED:

  conda                                        4.8.5-py37_0 --> 4.9.0-py37_0


Proceed ([y]/n)?

In [ ]:
! conda install html5lib

In [ ]:
! conda install BeautifulSoup4

In [ ]:
exc_df = pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

In [ ]:
exc_df.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
exc_df

In [ ]:
exc_df.to_excel('Excel_Sample.xlsx', sheet_name='Sheet1')

# Reading HTML

In [ ]:
bank_df = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [ ]:
list(bank_df)

In [ ]:
bank_df[0]